* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  line-height: 1.5;
  background-color: #B100E8;
}

.main {
  border: 2px solid black;
  min-width: 500px;
  max-width: 500px;
  padding: 20px;
  background-color: #7216a7;
  border-radius: 20px;
}

.calculator {
  border: 2px solid black;
  min-height: 100px;
  background-color: #b863e9;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.display {
  width: 100%;
  min-height: 20%;
  max-height: min-content;
  word-break: break-all;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.previous-number {
  font-size: 1.2rem;
  color: rgb(30, 30, 30);
}

.current-number {
  word-break: break-all;
}

.button-container {
  display: flex;
}

.panel {
  display: grid;
}

.panel button {
  width:100%;
  padding: 40px 20px;
  margin: 1px;
  background-color: #a214e4;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  transition: opacity 0.1s;
}

.panel button:hover {
  opacity: 0.85;
}

.panel button:active {
  opacity: 0.7;
}